/* Основна сторінка (секції, піци) */

.container {
    min-height: 50vh;
    padding-bottom: 800px;
}

.container p {
    font-family: Arial;
}

.all-pizza {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 130px;
    display: inline-block;
    margin-left: 35px;

}

  
  .new {
    position: absolute; 
    top: -8px; 
    right: -10px;
    width: 40px;
    background-color: rgb(218, 73, 73); 
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 7px; 
    font-size: 12px; 
    border-radius: 3px;
  }

  .popular{
    background-color: rgb(46, 144, 46);
    width: 68px;
  }
  

.amount {
    background-color: orange;
    border-radius: 10px;
    font-family: Arial;
    font-weight: bold;
    color: white;
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    margin-left: 10px;
    vertical-align: 14%
}

.p-header {
    margin-left: 420px;
}

.pizza-type {
    margin-left: 300px;
}

.pizza-1,
.pizza-2,
.pizza-3,
.pizza-4,
.pizza-5,
.pizza-6 {
    background-color: transparent;
    border: none;
    color: orange;
    font-weight: 500;


}

.pizza-1:hover,
.pizza-2:hover,
.pizza-3:hover,
.pizza-4:hover,
.pizza-5:hover,
.pizza-6:hover {
    background-color: orange;
    color: white;
    height: 30px;
    border-radius: 3px;
}


.menu-1 {
    background-color: white;
    width: 240px;
    height: 430px;
    position: absolute;
    top: 250px;
    left: 90px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Arial;
}



.menu-2 {
    left: 390px;
}

.menu-3 {
    left: 690px;
}

.menu-4 {
    top: 690px;
}

.menu-5 {
    left: 390px;
    top: 690px;
}

.pizza-menu {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    width: 120%;
}

.menu-title {
    font-family: Arial;
    font-weight: bold;
    color: rgb(255, 136, 0);
    font-size: 20px;
    margin-bottom: -9px;

}

.menu-type {
    font-family: Arial;
    color: gray;
    font-size: 12px;
    margin-bottom: -9px;

}

.ingridients {
    font-family: Arial;
    font-size: 12px;

}

.mea-1 {
    margin-bottom: 10px;

}

.mea-img2 {
    margin-left: 16px;

}

.mea-2 {
    margin-left: 3px;
}

.menu-price-big,
.menu-price-small {
    font-weight: bold;
    display: inline-block;
    margin-top: -1px;
}

.buybutton {
    background-color: orange;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    width: 70px;
    height: 5px;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 2px solid rgb(205, 134, 3);
}

.menu-price-big {
    margin-left: 45px;

}


.menu-price-small {
    margin-left: 14px;
}

.buy-small1 {
    margin-left: 8px;
}

.buy-big1 {
    margin-left: 113px;
    margin-top: -35px;
}






@media only screen and (max-width: 625px) {

    .p-header {
        margin-left: 13%;
    }
}

@media only screen and (max-width: 990px) {

    .pizza-type {
        margin-left: 15%;
    }
}

@media only screen and (max-width: 870px) {

    .pizza-type {
        margin-left: 11%;
    }
}

@media only screen and (max-width: 825px) {

    .pizza-type {
        /* display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-template-columns: repeat(2, 140px);
        margin-left: 20%; */
        margin-left: 7%;

    }

}

@media only screen and (max-width: 730px) {

    .pizza-type {
        /* display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(1, 140px);
        margin-left: 30%; */
        margin-left: 4%;

    }

}

@media only screen and (max-width: 625px) {

    .pizza-type {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(1, 140px);
        margin-left: 13%;
    }
}


@media only screen and (max-width: 1100px) {
    .menu-1 {
        left: 170px;
    }

    .menu-2 {
        left: 440px;
    }

    .menu-3 {
        top: 690px;
        left: 170px;
    }

    .menu-4 {
        left: 440px;
    }

    .menu-5 {
        top: 1130px;
        left: 170px;
    }

    .p-header {
        margin-left: 340px;
    }
    
    .pizza-type {
        margin-left: 220px;
    }

}


@media only screen and (max-width: 700px) {

    .menu-1, .menu-2, .menu-3, .menu-4, .menu-5 {
        left: 100px;
    }

}


@media only screen and (max-width: 625px) {

    .menu-1, .menu-2, .menu-3, .menu-4, .menu-5 {
        left: 40px;
    }

.menu-1{
    top: 380px;
}

    .menu-2{
        top: 820px;
    }

    .menu-3{
        top: 1260px;
    }

    .menu-4{
        top: 1700px;
    }

    .menu-5{
        top: 2140px;
    }

}

@media only screen and (max-width: 570px) {


    .menu-1, .menu-2, .menu-3, .menu-4, .menu-5 {
        left: 30px;
    }


}


@media only screen and (max-width: 550px) {


    .menu-1, .menu-2, .menu-3, .menu-4, .menu-5 {
        left: 20px;
    }


}

@media only screen and (max-width: 955px) {


    .p-header {
        margin-left: 30%;
    }
    
    .pizza-type {
        margin-left: 20%;
    }

}

@media only screen and (max-width: 955px) {
    .menu-1{
        left: 110px;
    }

    .menu-2{
        left: 390px;
    }

    .menu-3{
        left: 110px;
    }

    .menu-4{
        left: 390px;
    }

    .menu-5{
        left: 110px;
    }

}



@media only screen and (max-width: 800px) {

    .menu-1, .menu-2, .menu-3, .menu-4, .menu-5 {
        left: 200px;
    }

.menu-1{
    top: 250px;
}

    .menu-2{
        top: 690px;
    }

    .menu-3{
        top: 1130px;
    }

    .menu-4{
        top: 1570px;
    }

    .menu-5{
        top: 2010px;
    }

    
    .pizza-type {
        margin-left: 14.4%;
    }

    .popular{
       top: -5px;
      }

}

@media only screen and (max-width: 625px) {

    .menu-1, .menu-2, .menu-3, .menu-4, .menu-5 {
        left: 40px;
    }

.menu-1{
    top: 380px;
}

    .menu-2{
        top: 820px;
    }

    .menu-3{
        top: 1260px;
    }

    .menu-4{
        top: 1700px;
    }

    .menu-5{
        top: 2140px;
    }

    .p-header {
        margin-left: 10.3%;
    }
    
    .pizza-type {
        margin-left: 14.6%;
    }

}

